@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Routing

<div class="d-flex flex-column min-vh-100">

    <!-- Навбар -->
    <header class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary mb-4">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="./images/logo.png" width="30" height="30">
                </a>
                <a class="navbar-brand fw-bold" href="#">PortuWise</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size: 1.1em">
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                                Главная
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/learn">
                                Уроки
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/about">
                                О проекте
                            </NavLink>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск" />
                        <button class="btn btn-outline-info" type="submit">Поиск</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <!-- Контент страницы -->
    <main class="container flex-grow-1">
        @Body
    </main>

    <!-- Футер -->
    <footer class="py-3 bg-light">
        <div class="container text-center">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3" style="font-size: 1.1em;">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        Главная
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/learn">
                        Уроки
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/about">
                        О проекте
                    </NavLink>
                </li>
            </ul>
            <p class="text-body-secondary">© 2025 PortuWise, Inc</p>
        </div>
    </footer>
</div>